@import "./src/css/vars.less";

.mod-fullimageparallax {
  margin: 0;

  .bg {
    position: relative;
    padding-top: 40%;

    .mod-image {
      //background-size: 100% auto;
      //background-position-y: 0;
      //background-repeat: repeat-y;
    }
  }

@media screen and @tablet {
  .bg {
    padding-top: 30%;
  }
}
@media screen and @desktop {
  .bg {
    padding-top: 20%;
  }
}
}
