@import "./src/css/vars.less";

.mod-fullimageparallax {
  margin: 0;

  .bg {
    position: relative;
    height: 400px;

    .mod-image {
      background-size: 100% auto;
      background-position-y: 0;
      background-repeat: repeat-y;
    }
  }
}
