@import "./src/css/vars.less";

.mod-singlecol {
  background: @col-greylight;

  .inner {
    border-left: 13px solid @col-green;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: @padding-v-medium 20%;
  }
}