@import "./src/css/vars.less";

.mod-footer {
  width: 100%;
  background: white;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.4);
  box-sizing: border-box;
  padding: 0 20px;

  .col {
    position: relative;
    float: left;
    padding: 15px 0;
  }

  .left, .right {
    width: 40%;
  }
  .middle {
    width: 20%;
    text-align: center;
  }
  .right {
    text-align: right;
  }

  .textlabel{
    color: @col-grey;
  }

  .link-icon {
    position: relative;
    top: 6px;
    transition: all @speed-fast;

    &:hover {
      opacity: 0.6;
    }

    .icon {
      font-size: 1.7rem;
      line-height: 0;
    }
  }

  .link-text {
    color: @col-antrazit;
    font-weight: 300;
    font-style: normal;
    margin-right: 20px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.6;
    }
  }
}