@import './src/css/vars.less';

.mod-image {
  background-repeat: no-repeat;

  &.cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    -ms-behavior: url(/backgroundsize.min.htc);
    background-position: center center;
  }
}
