@import "./src/css/vars.less";

.mod-superhero {
  background: #ccc;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
  }

  .col-left {
    color: lighten(@col-antrazit, 60%);
    h2 {
      color: @col-antrazit;
    }
  }
}