//@import (once) "./src/css/vars.less";
//@import (once) "./src/css/elements.less";
//@import (once) "./src/css/elements-text.less";
//@import (once) "./src/css/mixins.less";

.mod-address {
  position: relative;
  background: white;
  margin-bottom: -40px;

  .col-left.flex {
    width: 100%;
    padding: 0;
    height: 400px;

    iframe {
      border: none;
    }
  }

  .col-right {
    width: 100%;
    box-sizing: border-box;
  }

  .selectable {
    cursor: pointer;

    &:hover {
      color: @col-greenDark;
      text-decoration: underline;
    }
  }

  h3 {
    margin: -1rem 0 -0.5rem;
  }

@media screen and @desktop {

  .content {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .col-left.flex {
    width: 60%;
    height: 100%;
  }

  .col-right {
    width: 40%;
  }
}
}

