@import './src/css/vars.less';

.mod-eventwidget {
    background: @col-antrazit;
  
  .widget-title {
    background: @col-antrazitLight;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  .events {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .events-inner {
  }

  .event {
    display: inline-block;
    margin: 15px 3%;
    color: white;

    .event-title {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    cursor: pointer;

    &:hover {
    color: @col-grey;
    }

    .fa {
      position: relative;
      left: -30px;
    }

    &.next {
      left: auto;
      right: 0;

      .fa {
        left: 40px;
      }
    }
  }
}