# AuthName "beliebig" 
# AuthType Basic 
# AuthUserFile /kunden/homepages/26/d18762614/htdocs/kadiade2016/.htpasswd 
# require valid-user

RewriteEngine On
RewriteBase /

# redirect http to https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# rewrite www to no www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# rewrite for sitemap.xml
RewriteRule ^sitemap\.xml$ index.php?id=25 [R=301,L]
RewriteRule ^sitemap-de\.xml$ index.php?id=25 [R=301,L]
RewriteRule ^sitemap-en\.xml$ index.php?id=29 [R=301,L]
RewriteRule ^sitemap_index\.xml$ index.php?id=30 [R=301,L]

# rewrite alte englische kadia.de/en urls

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(15|31|33|34)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(16|32)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/deburring/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(20|22|23|70)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/deburring/deburring-machines/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(25|48|49|65|66)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/deburring/deburring-technology/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(21|41|93)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/deburring/process-development-job-deburring/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(17|50|51|69)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/honing-machines/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(24|35|36|62|63|64|99)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/honing-technology/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(52|53|91)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/honing-tools/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(19|92)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/process-development-and-job-honing/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(18|54)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/honing/abrasives-honing-oils/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=60(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/imprint/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(45|46|47|71)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/careers/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(26|44)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/news/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(55|67|68)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/contact/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(8|9|100|10|11|28|29|30|12|13|14|72|43|61|98)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(4|5|7)(&lang=en)(.*)$
RewriteRule ^(.*)$ /en/company/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(lang=en)(.*)$
RewriteRule ^(.*)$ /en/? [R=301,L]


# rewrite alte deutsche kadia.de Seiten

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(15|31|33|34)(.*)$
RewriteRule ^(.*)$ /honen/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(16|32)(.*)$
RewriteRule ^(.*)$ /entgraten/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(20|22|23|70)(.*)$
RewriteRule ^(.*)$ /entgraten/entgratmaschinen/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(25|48|49|65|66)(.*)$
RewriteRule ^(.*)$ /entgraten/entgrattechnik/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(21|41|93)(.*)$
RewriteRule ^(.*)$ /entgraten/prozessentwicklung-lohnentgraten/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(17|50|51|69)(.*)$
RewriteRule ^(.*)$ /honen/honmaschinen/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(24|35|36|62|63|64|99)(.*)$
RewriteRule ^(.*)$ /honen/hontechnologie/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(52|53|91)(.*)$
RewriteRule ^(.*)$ /honen/honwerkzeuge/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(19|92)(.*)$
RewriteRule ^(.*)$ /honen/prozessentwicklung-lohnhonen/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(18|54)(.*)$
RewriteRule ^(.*)$ /honen/schneidmittel-honoele/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=60(.*)$
RewriteRule ^(.*)$ /impressum/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(45|46|47|71)(.*)$
RewriteRule ^(.*)$ /karriere/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(26|44)(.*)$
RewriteRule ^(.*)$ /news/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(55|67|68)(.*)$
RewriteRule ^(.*)$ /kontakt/? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(8|9|100|10|11|28|29|30|12|13|14|72|43|61|98)(.*)$
RewriteRule ^(.*)$ /? [R=301,L]

RewriteCond %{QUERY_STRING} ^(.*)cat_id=(4|5|7)(.*)$
RewriteRule ^(.*)$ /unternehmen/? [R=301,L]


# typo3 backend path should be untouched
RewriteRule ^typo3$ - [L]
RewriteRule ^typo3/.*$ - [L]

# rewrite rules for speaking urls
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php



<IfModule mod_expires.c>
  ExpiresActive on

  ExpiresDefault                          "access plus 1 month"
  
  ExpiresByType text/html                 "access plus 0 seconds"
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"
  ExpiresByType application/rss+xml       "access plus 1 hour"
  ExpiresByType image/x-icon              "access plus 1 week"
 
  ExpiresByType image/gif                 "access plus 1 week"
  ExpiresByType image/png                 "access plus 1 week"
  ExpiresByType image/jpg                 "access plus 1 week"
  ExpiresByType image/jpeg                "access plus 1 week"
  ExpiresByType video/ogg                 "access plus 1 week"
  ExpiresByType audio/ogg                 "access plus 1 week"
  ExpiresByType video/mp4                 "access plus 1 week"
  ExpiresByType video/webm                "access plus 1 week"
   
  ExpiresByType text/x-component          "access plus 1 month"
   
  ExpiresByType font/truetype             "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
     
  ExpiresByType text/css                  "access plus 1 week"
  ExpiresByType application/javascript    "access plus 1 week"
  ExpiresByType text/javascript           "access plus 1 week"
   
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
   
</IfModule>