@import './src/css/mixins.less';
@import './src/css/vars.less';


@logo-width: 190px;
@logo-height: 63px;

.mod-header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  background: @col-grey;
  box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  
  &.search-active {
    .logo {
      opacity: .2;
      transform: scale(.8);
      &:hover {
        transform: scale(.8);
        opacity: .2;
      }
    }
    .search-close {
      right: 0;
      opacity: 1;
    }
    .search-btn {
      opacity: 0;
      left: 100px;
    }
    .search-input {
      width: 60%;
      padding: 0 0 0 3rem;
      opacity: 1;
      left: (@logo-width + 10);
    }
  }

  .main-content {
    height: 80px;
  }

  .logo-img {
    position: relative;
    display: inline-block;
    top: 14px;
    width: @logo-width;
    height: @logo-height;
    //background-image: url('img/KADIA-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    -ms-behavior: url(/backgroundsize.min.htc);
    transition: all .2s;

    .svg & {
      //background-image: url('img/KADIA-logo.svg');
      background: grey;
    }

    &:hover {
      transform: scale(1.02);
      opacity: .9;
    }
  }

  .search-input {
    position: absolute;
    top: 21px;
    left: 1000px;
    font-size: 2rem;
    box-sizing: border-box;
    width: 0;
    padding: 0;
    transition: all @speed-normal;
    opacity: 0;
    color: @col-antrazit;
    border: none;
    outline: none;
    background: transparent;
    .mainFont();
  }

  .search-btn, .search-close {
    position: absolute;
    top: 29px;
    right: 0;
    transition: all @speed-normal;
    color: @col-antrazit;
  }
  .search-close {
    opacity: 0;
    right: -100px;
    color: @col-green;
  }
}
