@import "./src/css/vars.less";
@import "./src/css/elements-text.less";
@import "./src/css/mixins.less";

.mod-title {
  text-align: center;

  &.white {
    background: white;
  }

  .h3 {
    margin-top: 0.2rem;
  }

  .border {
    width: 110px;
    border-bottom: 10px solid @col-green;
    display: inline-block;
    margin-top: 20px;
  }

@media screen and @desktop {

}
}
